* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* Font vars */
--inter-tight: 'Inter Tight', sans-serif;

--title: 600 1.5rem/2rem var(--inter-tight);

--inter: 'Inter', sans-serif;
 
--pg-md: 500 .875rem/1.5rem var(--inter);
--pg-sm: 500 .75rem/1rem var(--inter);
--label-lg: 600 1rem/1.5rem var(--inter);
--label-md: 600 .875rem/1.5rem var(--inter);
--label-sm: 600 .75rem/1rem var(--inter);
--link: 500 .75rem/1rem var(--inter);

/* Color vars */
--content-primary: #ffffff;
--content-secondary: #98959d;
--content-tertiary: #666666;

--brand: #9282fa;

--bg-primary: #151515;
--bg-secondary: #1e1e1e;
--bg-tertiary: #23242c;
--bg-highlights: #bdb4fa;

--border-primary: #3e3c41;
--border-secondary: #86818c;
--border-divisor: #353339;

}